@model Cosmetic_Store.Models.Category

    <h1>Detail of Category</h1>


    <h1>@Model.Name </h1>
    <h2>Description: @Model.Description </h2>

    @foreach (var item in Model.ProductCategories)
   {
       <h3>Name: @item.Product.Name</h3>
       <h3> Description: @item.Product.Description</h3>
       <h3> Price: @item.Product.Price</h3>
   }

